<main>
  <div class="container">
    <h2>Informações:</h2>
          <div class="info">  
          <p>Título:</p>
          <p>Autor:</p>
          <p>Editora do livro:</p>
          <p>Categoria:{{this.category}}</p>
          </div>
    </div>
</main>